<!DOCTYPE html>
<html>
    <head>
        <title>Check executability of the research paper code</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <div class="main-block container centered-container">
            <div class="row">
                
                <div class="col-lg-6 offset-lg-3 mt-4 mb-4">
                    <h5 class="mb-4 text-center">Check executability of the research paper code</h5>
                    <form class="main-form" method="post" enctype="multipart/form-data">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#upload-text" role="tab">Write links to the papers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#upload-file" role="tab">Upload links to the papers</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content p-4">
                            <div class="tab-pane active" id="upload-text" role="tabpanel">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Enter links to each publication from a new line"
                                        id="text" name="text" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="tab-pane" id="upload-file" role="tabpanel">
                                <label class="custom-file">
                                    <input type="file" name="file" id="file" class="custom-file-input">
                                    <span class="custom-file-control" data-content="Upload list of papers in .csv/.txt format"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group text-center {% if error %}has-danger{% else %}has-success{% endif %}">
                            <button type="submit" class="btn btn-primary mt-4">Run test</button>
                            <div class="mt-2 form-control-feedback">{{error}}</div>
                        </div>
                    </form>
                </div>
            </div>            
        </div>
        <div class="logs-block container mb-4">
            <div class="row">
                <h5 class="mt-4 mb-4">Processing logs</h5>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>