textarea.form-control,
.custom-file-control,
.custom-file-control::before,
button.btn {
    border-radius: 0;
}

.centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.custom-file-control {
    text-align: left;
}
.custom-file-control:before {
    content: "Browse";
}

.custom-file-control:after {
    content: attr(data-content);
}


.btn,
.custom-file-input {
    cursor: pointer;
}

.custom-file {
    width: 100%;
}


#accordion .card-header,
#accordion .card-block {
    word-wrap: break-word;
}

#accordion .logs {
    font-size: 12px;
}

/* Bootstrap updates */
.nav-tabs {
    border-bottom: none;
}

.nav-center {
    justify-content: center;
}

.nav-link {
    color: #aaa;
}
.nav-link:hover {
    color: #333;
}

.tab-content {
    margin: -1px;
    border: 1px solid #aaa;
}

.main-form .nav-link.active,
.main-form .nav-link:hover {
    border-color: #aaa;
    border-bottom-color: transparent;
    border-radius: 0;
}

.main-form textarea,
.main-form .custom-file-control {
    border-color: #aaa;
}



/* Logs */
.logs-block {
    font-family: monospace;
}

.logs-block h1 {
    display: block;
    width: 100%;
}

.logs-block p {
    width: 100%;
    margin-bottom: 0;
}